:root {
    --accent: #ffc24f;
    --accent-success: #7BBA9C;
    --accent-failure: #ff4f7b;

    --text-primary: #ececec;
    --text-secondary: #cacaca;

    --bg-100: #484950;
    --bg-200: #3a3b41;
    --bg-300: #303136;
    --shadow: #00000080;
}

.main {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

button {
    border: 0px solid transparent;
}

html {
    height: 100vh;
}

body {
    background-color: #303136;
    height: 100%;
    margin: 0px;
}

.hover::after {
    position: absolute;
    content: '';
    height: auto;
    width: auto;
    left: 0px;
    background-color: inherit;
    inset: 0.2rem;
}

.hover:hover,
button:hover {
    cursor: pointer;
}

.hover:hover:before,
.hover:active:before,
.hover:focus-within:before {
    opacity: 1;
}

*>.hover {
    position: absolute;
    box-sizing: border-box;
}

.hover:before {
    background: linear-gradient(60deg, transparent 5%, #ffffff 50%, transparent 99%);
    content: '';
    inset: 0px;
    opacity: 0;
    position: absolute;
    transition: opacity 200ms;
    z-index: 0;
}